body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: darkcyan;
  color: aliceblue;
  padding: 20px;
  border-radius: 10px;
}

.input {
  width: 100%;
  font-size: 20px;
  height: 30px;
}
.payment {
  font-weight: 600;
  font-size: 20px;
}
